extends ./layouts/base 


mixin mix-publication__href(icon, pb) 
		case pb.link.url 
			when "vittorio.zaccaria@polimi.it"
				.publication__href__doi(onclick="location.href='mailto:#{pb.link.url}'", style="cursor: pointer")
					i.publication__href__doi__icon.fa(class=icon)
			default 
				.publication__href__doi(onclick="location.href='#{pb.link.url}'", style="cursor: pointer")
					i.publication__href__doi__icon-dl.fa(class=icon)


block append title 
	title Vittorio Zaccaria — Publications

block content

	.publications

		.publications__header Publications 

		.publications__container 
			for pb in data 
				.publication
					.publication__title #{pb.title}
					.publication__authors 
						for a in pb.author
							case a.name 
								when "V. Zaccaria"
									.publication__authors__myname #{a.name}
								default 
									.publication__authors__name #{a.name}
					.publication__info
						case pb.type 
							when "conference"
								.publication__category--conference conference 
							when "journal"
								.publication__category--journal journal 
							when "book"
								.publication__category--book book 
							when "bookchapter" 
								.publication__category--bookchapter book chapter
							when "workshop" 
								.publication__category--workshop workshop 
							when "patent" 
								.publication__category--patent patent 
							when "techreport" 
								.publication__category--workshop techreport 
							when "talk" 
								.publication__category--workshop talk 
							when "thesis" 
								.publication__category--workshop  thesis 							 
						.publication__name #{pb.smartbooktitle}
						.publication__date #{pb.month} #{pb.year} 
						.publication__pages pages #{pb.pages}
					.publication__href
						+mix-publication__href('fa-external-link', pb)
