extends ./layouts/base 


mixin mix-publication__href(icon, pb) 
		case pb.link.url 
			when "vittorio.zaccaria@polimi.it"
				.publication__href__doi(onclick="location.href='mailto:#{pb.link.url}'", style="cursor: pointer")
					i.publication__href__doi__icon.fa(class=icon)
			default 
				.publication__href__doi(onclick="location.href='#{pb.link.url}'", style="cursor: pointer")
					i.publication__href__doi__icon-dl.fa(class=icon)


block append title 
	title Vittorio Zaccaria — Research

block content

	.publications

		div(block="statement")
			div(elem="title") Current research
			div(elem='summary') 
				:markdown
					I love studying and innovating all aspects of software and hardware development for mobile applications. 
					Here are just a few of the directions that I am investigating in this area:

					* **Design patterns and languages for asynchronous, many-core systems**. 

					* **Domain specific languages and multi-stage programming**.




		div(block="statement")
			div(elem="title") Past research and achievements
			div(elem="summary")
				:markdown
					Here are some of my major achievements:

					* I've successfully created and tuned performance prediction models to obtain less than 10% error versus ISS simulations, dramatically reducing analysis time.

					* I am one of the authors of the the ReSPIR optimization algorithm (10x reduction in time, less than 1% error w.r.t. ideal).

					* I've led teams of 3 engineers to prototype research tools for processor customization. Prototypes were delivered on-time and within budget of several european FP7 projects.

					* I've worked as research and development engineer for STMicroelectronics, one of the top semiconductor industries in the world

					* I've pioneered the field of Power Modeling of VLIW Cores (10% error RTL vs Gate-level).

					* I've introduced an effective methodology to minimize the effort of design of experiments for NoC power models (10x reduction in characterization time, 33% error).

					* I've developed architectural and instruction-set extensions for industrial VLIW processors successfully validated through real-world prototypes. 

					* I've developed functional models for new streaming architectures, successfully supporting virtual prototyping of software defined radios.

					* I am author of over 40 scientific papers about analysis and customization of computer architectures.

					* I am co-author of the book Power Estimation and Optimization Methodologies for VLIW-based Embedded Systems, Springer 2003.

		.publications__header Publications 

		.publications__container 
			for pb in data 
				.publication
					.publication__title #{pb.title}
					.publication__authors 
						for a in pb.author
							case a.name 
								when "V. Zaccaria"
									.publication__authors__myname #{a.name}
								default 
									.publication__authors__name #{a.name}
					.publication__info
						case pb.type 
							when "conference"
								.publication__category.publication__category--conference conference 
							when "journal"
								.publication__category.publication__category--journal journal 
							when "book"
								.publication__category.publication__category--book book 
							when "bookchapter" 
								.publication__category.publication__category--bookchapter book chapter
							when "workshop" 
								.publication__category.publication__category--workshop workshop 
							when "patent" 
								.publication__category.publication__category--patent patent 
							when "techreport" 
								.publication__category.publication__category--workshop techreport 
							when "talk" 
								.publication__category.publication__category--workshop talk 
							when "thesis" 
								.publication__category.publication__category--workshop  thesis 							 
						.publication__name #{pb.smartbooktitle}
						.publication__date #{pb.month} #{pb.year} 
						.publication__pages pages #{pb.pages}
					.publication__href
						+mix-publication__href('fa-external-link', pb)
